<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Products{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body class="bg-light">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
            <div class="w-100 order-1 order-md-0">
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link"  href="{{ path('index') }}">Products</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('products-by-category') }}">Products by category</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="{{ path('categories-check') }}">Categories</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
